/* resets */
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Rounded", Arial, sans-serif;
  /* font-family: "segoe ui"; */
  font-weight: 300;
}

/* splash page container */
div.splash-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

div.splash-grid {
  display: grid;
  justify-items: center;
  /* align-items: center; */
  /* grid-auto-rows: minmax(100px, auto); */
  height: calc(100% - 50px);
  background: url("../img/building.jpg") center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /* -webkit-backdrop-filter: blur(1.5rem); */
  /* background-blend-mode: difference; */
}

h1#title {
  margin-top: 0.3em;
  white-space: nowrap;
  /* text-align: center; */
  color: #fff;
  background-color: auto;
  text-shadow: -1.5px -1.5px 0 #060053, 1.5px -1.5px 0 #060053,
    -1.5px 1.5px 0 #060053, 1.5px 1.5px 0 #060053;
  font-size: 450%;
  /* color: #b7ebff; */
}

div.hours {
  /* margin: 0 0 2.2em 70vw; */
  /* margin-bottom: 2.2em; */
  position: absolute;
  bottom: 2em;
  right: 2em;
  /* align-self: flex-end; */
}

/* generic textbox overlay */
div.textbox {
  text-align: center;
  white-space: nowrap;
  font-size: 1.1em;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 1em 2em;
  border: 0.1rem solid #060053;
  border-radius: 0.3rem;
}

div.emergency {
  color: red;
  background-color: white;
  border: 0.1rem solid rgb(255, 0, 0);
}

span#we-are {
  font-size: 1.3em;
}

span#status {
  font-weight: bold;
}

table#timetable {
  font-size: 1.1em;
}

tr.open-text td {
  color: #060053;
  font-weight: bold;
}

/* below the fold content */
div#painting {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  /* grid-auto-rows: min-content; */
  justify-items: center;
  align-items: center;
  background: url("../img/painting2.jpg") center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
}

div.doc-grid {
  display: grid;
  grid-template-columns: repeat(1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-auto-columns: minmax(200px, auto);
  grid-gap: 1em;
  padding: 1em;
  justify-items: stretch; /* inner horizontal alignment */
  align-items: stretch; /* inner vertical alignment */
  background-color: #fff;
  color: rgb(6, 0, 83);
  overflow-x: hidden;
}

div.doc-grid > div {
  padding: 1em;
}

/* Doctors Profiles */
div.doctor {
  background: linear-gradient(to right, #56c9f8, transparent);
}

div.doctor:nth-child(odd) {
  background: linear-gradient(to left, #56f8d0, transparent);
  /* justify-content: end; */
  text-align: right;
}

div.doctor > img {
  height: 20em;
  width: auto;
}

/* dunedin panorama */
div#panorama {
  height: 50vh;
  min-height: 20em;
  margin-bottom: 2em;
  background: url("../img/dunedin2.jpg") center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* Leaflet always needs a map height */
div#mapid {
  display: inline-block;
  height: 40vh;
  min-height: 20em;
  width: 100%;
}

footer {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5em 2em;
  background: #000;
  color: #fff;
  text-align: center;
}

footer > div {
  flex: 1 1 0;
}

footer > p {
  padding: 1em 0;
  white-space: nowrap;
}

footer img {
  vertical-align: middle;
}

footer a {
  color: #56c9f8; /* #2690d4; */
  text-decoration: none;
}

/* hamburger nav from https://codepen.io/jo_Geek/pen/xgbaEr */
.nav {
  height: 50px;
  width: 100%;
  background-color: #060053;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 1.5em;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 1.1em;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(255, 255, 255, 0.3);
  text-decoration: underline;
}

.nav > #nav-check {
  display: none;
}

/* for-phone-only */
@media only screen and (max-width: 510px) {
  /* 300% takes up entire screen width @ 320px width */
  h1#title {
    font-size: 300%;
  }

  /* scale down textboxes */
  div.textbox {
    font-size: 0.88em;
  }

  /* centre hours textbox */
  div.hours {
    /* undo absolute positioning */
    position: relative;
    bottom: 0;
    right: 0;
    /* reset to centre */
    margin-bottom: 2.2em;
    align-self: flex-end;
  }

  /* ensure doc images fit */
  div.doctor > img {
    height: auto;
    width: 16em;
  }

  /* forces footer columns to stack */
  footer {
    flex-flow: column wrap;
  }

  /* collapses hamburger nav */
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(255, 255, 255, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #060053;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    /* height: calc(100vh - 50px); */
    height: 400%; /* 100% x number of nav items = correct height */
    overflow-y: hidden; /* was auto originally */
  }
}

/* for-phone-landscape-only */
@media only screen and (max-height: 500px) {
  h1#title {
    font-size: 300%;
    margin-top: 0.1em;
  }
  /* scale down textboxes */
  div.textbox {
    font-size: 0.88em;
  }
  div.hours {
    bottom: 0.2em;
    right: 0.2em;
  }
}

/* for-phone-to-tablet-up */
/* @media only screen and (min-width: 491px) {
} */

/* for-tablet-portrait-up */
/* @media only screen and (min-width: 700px) {
} */
