/* resets */
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Rounded', Arial, sans-serif;
  font-weight: 300;
}

/* background blur utility */
@supports (backdrop-filter: blur()) or (-webkit-backdrop-filter: blur()) {
  /* https://caniuse.com/#feat=css-backdrop-filter */
  /* mozilla still needs a flag turned on atm */
  .bg-blur {
    backdrop-filter: blur(150px) brightness(190%) contrast(150%);
    -webkit-backdrop-filter: blur(150px) brightness(190%) contrast(150%);
  }
}

/* fit-content does not work for IE/Edge: https://caniuse.com/#search=fit-content */
@supports (width: fit-content) or (width: -webkit-fit-content) or (width: -moz-fit-content) {
  div.textbox > p,
  footer p,
  .nav > .nav-links > a {
    width: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
  }
}

div.splash-grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 1em;
  justify-items: center;
  height: calc(100vh - 50px);
  background: url('../img/building.jpg') center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /* opacity: 0.9; */
}

div.welcome-text {
  text-align: center;
  color: #fff;
  text-shadow: -1.5px -1.5px 0 #060053, 1.5px -1.5px 0 #060053, -1.5px 1.5px 0 #060053, 1.5px 1.5px 0 #060053;
}

div.welcome-text > h1#title {
  white-space: nowrap;
  font-size: 450%;
  /* color: #b7ebff; */
}

div.welcome-text > h2 {
  margin-top: 1em;
  font-size: 200%;
  font-style: italic;
}

div.welcome-text > h3 {
  margin-top: 0.3em;
  font-size: 150%;
  font-style: italic;
}

/* todo: the div that the h1 and @hours are in have no styling, they are defaulting to filling up half the grid each - change? remove? */

/* generic textbox */
div.textbox {
  color: #fff;
  text-align: center;
  white-space: nowrap;
  font-size: 1.1em;
  padding: 0.5em 1em;
  border: 0.1em solid #060053;
  border-radius: 0.3em;
  line-height: 120%;
}

/* evenly space text (doesn't affect #hours because it has no <p> elements) */
/* change <p> to <span> to help a possible work-around to using fit-content */
div.textbox > p {
  margin: 0 auto;
  /* width: fit-content; */
}

/* custom link underline animation (apply generally except for leaflet links) */
/* has this not:() behaviour completely broken in firefox? */
/* fixed: used more specific :not(a) selectors like a::after */
/* https://stackoverflow.com/questions/40242378/underline-from-left-to-right-on-hover-in-and-out */
a,
div#mapid:not(a) {
  text-decoration: none;
  color: #060053;
}

a::after,
div#mapid:not(a::after) {
  display: block;
  content: '';
  border-bottom: solid 1px #060053; /* default color, often overidden */
  transform: scaleX(0);
  transform-origin: 0% 50%;
  transition: transform 300ms ease-in-out;
}

a:hover::after,
div#mapid:not(a:hover::after) {
  transform: scaleX(1);
}

div.hours {
  align-self: flex-end;
  /* background-color: rgba(255, 255, 255, 0.7); */
  color: rgb(0, 0, 0);
  margin: 0 3em 2em 0;
}

div.emergency {
  color: red;
}

span#we-are {
  font-size: 1.3em;
  /* vertical-align: bottom; */
}

/* span#status {
  font-weight: bold;
} */

table#timetable {
  font-size: 1.1em;
}

tr.open-text td {
  color: #060053;
  font-weight: bold;
}

/* below the fold full page container */
div#painting {
  position: relative;
  background: url('../img/painting2.jpg') center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

/* display stripe to display info over the painting bg-image */
div.display-stripe {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  top: 10%;
  left: 0;
  width: 85%;
  border-radius: 0.3em;
}

/* div.stripe-inner > div { */
div.display-stripe > div {
  place-self: center;
  border: none;
  line-height: 140%;
  padding: 0 0 0.5em 0;
}

div.display-stripe div:nth-of-type(1),
div.display-stripe div:nth-of-type(2) {
  margin-top: 1em;
}

div.display-stripe div:nth-of-type(3) {
  align-self: flex-start;
}

img#info-icon {
  width: 3em;
  height: 3em;
  display: inline-block;
}

img#emergency-icon {
  height: 4em;
  width: auto;
}

div.doc-grid {
  display: grid;
  grid-auto-rows: minmax(100px, auto);
  gap: 1em;
  padding: 1em;
  background-color: #fff;
  color: rgb(6, 0, 83);
  overflow-x: hidden;
}

div.doc-grid > div {
  padding: 1em;
}

div.doc-grid > div#intro-msg {
  align-self: center;
  justify-self: center;
}

/* Doctor profiles */
div.doctor {
  border-radius: 0.3em;
}

div.doctor:nth-child(even) {
  background: linear-gradient(to right, #56c9f8, transparent);
  /* margin-left: 3em; */
}

div.doctor:nth-child(odd) {
  background: linear-gradient(to left, #56f8d0, transparent);
  text-align: right;
  /* margin-right: 3em; */
}

div.doctor > img {
  /* display: inline-block; */
  height: 20em;
  width: auto;
  border-radius: 0.3em;
}

/* set doctor text to display alongside image (needs more text-alignment and defined-width tinkering) */
/* div.doctor div.doc-text {
  display: inline-block;
} */

/* dunedin panorama */
div#panorama {
  height: 40vh;
  /* min-height: 20em; */
  margin-bottom: 1em;
  background: url('../img/dunedin2.jpg') center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* Leaflet always needs a map height */
div#mapid {
  height: 40vh;
  /* min-height: 20em; */
}

img#to-top {
  display: block;
  margin: 0 auto;
  cursor: pointer;
  transform: scale(0.5);
}

footer {
  /* max-height: 20vh; */
  display: flex;
  flex-wrap: wrap;
  padding: 0.5em 2em;
  background: #000;
  color: #fff;
  /* text-align: center; */
  line-height: 140%;
}

footer > div {
  flex: 1 1 0;
}

/* footer img {
  vertical-align: middle;
} */

footer p {
  margin: 0 auto;
  white-space: nowrap;
}

footer a {
  color: #56c9f8; /* #2690d4; */
}

footer a::after {
  border-bottom: solid 1px #56c9f8;
}

/* hamburger nav from https://codepen.io/jo_Geek/pen/xgbaEr */
.nav {
  height: 50px;
  background-color: #060053;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  width: 50px;
}

/* .nav > .nav-header > .nav-title:hover {
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
} */

.nav > .nav-header > .nav-title > svg {
  height: 100%;
  width: 100%;
  margin-top: -2px;
}

.nav > .nav-header > .nav-title > svg > path {
  fill: #fff;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 1.1em;
  z-index: 1;
}

.nav > .nav-links > a {
  display: inline-block;
  /* margin: 0 auto; */
  padding: 13px 10px 15px 10px;
  text-decoration: none;
  color: #fff;
}

/* .nav > .nav-links > a:hover {
  background-color: rgba(255, 255, 255, 0.3);
} */

.nav > .nav-links > a::after {
  border-bottom: solid 1px #fff;
}

.nav > #nav-check {
  display: none;
}

/* for-mobile-only */
@media only screen and (max-width: 510px) {
  div.splash-grid {
    padding-left: 0;
    padding-right: 0;
  }

  /* 300% (Firefox) and 290% (Chrome) = spans 320px width */
  div.welcome-text > h1#title {
    /* font-size: 280%; */
    font-size: 14vw;
  }

  div.welcome-text > h2 {
    font-size: 6vw;
  }
  div.welcome-text > h3 {
    font-size: 5vw;
  }

  /* scale down textboxes */
  div.textbox {
    font-size: 0.8em;
  }

  div.hours {
    margin: 0 0 2em 0;
  }

  /* collapse grid */
  div.display-stripe {
    grid-template-columns: 1fr;
    width: 50%;
    top: 20%;
    padding: 1em 0;
  }

  img#emergency-icon {
    margin-top: 5em;
  }

  div.display-stripe div:nth-of-type(1) {
    order: 1;
  }

  div.display-stripe div:nth-of-type(2) {
    order: 3;
  }

  div.display-stripe div:nth-of-type(3) {
    order: 2;
  }

  div.display-stripe div:nth-of-type(4) {
    order: 4;
  }

  img#info-icon {
    width: 2em;
    height: 2em;
  }

  img#emergency-icon {
    height: 3em;
    width: auto;
  }

  /* ensure doc images fit */
  div.doctor > img {
    height: auto;
    width: 90%;
  }

  /* forces footer columns to stack */
  footer {
    flex-flow: column wrap;
  }

  /* collapses hamburger nav: code adapted from https://codepen.io/jo_Geek/pen/xgbaEr */
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    /* width: 50px; */
    /* height: 50px; */
    padding: 13px 13px 7px 13px; /* custom: is there a better way to center these lines? */
    cursor: pointer;
  }
  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(255, 255, 255, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #fff;
    /* margin-top: 0.5px; */
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #060053;
    height: 0;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0;
  }
  .nav > .nav-links > a {
    display: block;
    /* width: fit-content; */
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0;
  }
  .nav > #nav-check:checked ~ .nav-links {
    /* height: calc(100vh - 50px); */
    height: 300%; /* 100% x number of nav items = correct height (NO LONGER WORKING: CHECK BROWSER COMPATABILITIES */
    overflow-y: hidden; /* was auto originally */
  }
}

/* for-mobile-landscape-only */
@media only screen and (max-height: 500px) and (max-width: 900px) {
  /* scale down textboxes */
  div.textbox {
    font-size: 0.8em;
  }
}

/* collapse-splash-grid */
@media only screen and (max-width: 900px) {
  div.splash-grid {
    grid-template-columns: 1fr;
  }
}

@media only screen and (min-width: 570px) {
  /* grow doc profile margins */
  div.doctor {
    margin: 0 3em;
  }
}

/* for-mobile-to-tablet-up */
/* @media only screen and (min-width: 491px) {
} */

/* for-tablet-portrait-up */
/* @media only screen and (min-width: 700px) {
} */
